#Wrapper{
    height: auto;
    width: 1100px;
    background:#e0c1d8;
    margin: 0 auto;
    padding: 5px;
}

body {
	background: #e0c1d8;
	display: block;
	margin: 8px;
}

#Header{
	background: #f6efef;
    width: 1014px;
    height: 153px;
    margin: 5px 34px;
     border:4px solid pink;

}

#Logo{
    display: inline-block;
    height: 90px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

#NavBar {
	display: inline-block;
    width: 691px;
 
}

#NavLink {
    text-align: right; 
}

#Links li {
    list-style-type: none;
    display: inline-block;
    font: 17px verdana;
    border: 1px solid black;
    border-radius: 10px;
    width: 101px;
    height: 23px;
    text-align: center;
   background-color: #eeceef;
    }

#Content {
	
	height: 715px;
    width: 1028px;
    margin: 0 auto;
    padding: 0px;
   
}

#SideLeft {
   width: 320px;
    height: 700px;
    margin: 10px;
	padding:10px;
    float: left;
    background-color: #ded5de;
    position: relative;
    display: inline-block;
    border: 2px solid white;
	box-sizing:border-box;
}

p {
   
    margin: 5px 5px 0 5px;
    font: 14px Arial;
    padding: 5px;
    }

#Center {
    width: 320px;
    height: 700px;
    float: left;
    margin: 10px;
	padding:10px;
    background-color: #ded5de;
    position: relative;
    display: inline-block;
    border: 2px solid white;
	box-sizing:border-box;
}

#Center img {
    margin: 5px 61px;
}

#SideRight {
    width: 310px;
    height: 700px;
    float: left;
    background-color: #ded5de;
    margin: 10px;
	padding:10px;
    display: inline-block;
    border: 2px solid white;
	box-sizing:border-box;
}

h1 {
    text-align: center;
    font-family: fantasy;
    margin: 21px auto;
}
#Img1 {
     position: absolute;
    top: -15px;
    left: -16px;
    }
 #Img2 {
 	position: absolute;
    top: -15px;
    right: -16px;
 }

 #Img3 {
 	position: absolute;
    bottom: -10px;
    left: -19px;
}

 #Img4 {
 	position: absolute;
    bottom: -10px;
    right: -19px;
}

#Footer{
	width: 1003px;
    height: 60px;
    background: #f9f9f9;
    border: 2px solid pink;
     margin: 8px 41px;
}

#tri1 {

	width: 0;
	height:0;
	border-right: 20px solid red;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position:absolute;
    top: -3px;
    right: -4px;
}
#tri2 {

	width: 0;
	height:0;
	border-right: 20px solid transparent;
	border-left: 20px solid red;
	border-bottom: 20px solid transparent;
	position:absolute;
    top: -3px;
    left: -4px;
}

#tri3 {

	width: 0;
	height:0;
	border-right: 20px solid transparent;
	border-left: 20px solid red;
	border-top: 20px solid transparent;
	position:absolute;
    bottom: -3px;
    left: -4px;
    }

#tri4 {

	width: 0;
	height:0;
	border-right: 20px solid red;
	border-left: 20px solid transparent;
	border-top: 20px solid transparent;
	position:absolute;
    bottom: -3px;
    right: -4px;
    }
