
@font-face{
	font-family: MuseoSans_500;
	src:url("../font/m500.eot");
}

@font-face{
	font-family:MuseoSans_500;
	src:url("../font/m500.otf");
}
.container-fluid {
	width: 100%;
	height: auto;
}

.container {
	margin: 0 auto;
	width: 1160px;
	height: auto;
}

.pull-left {

	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

.text-white{
	color: white;
}

.fix{
	overflow: hidden;
}

.topbar_wrapper {
	padding: 5px 0;
}

.topbar {
}

.contact {
	font-size: 12px;
	font-family: MuseoSans_500;
}

.phone {
	margin-right: 16px;
}

.phone > p {
	font-size: 11px;

}
.phone > p >img {
	width: 8px;
	margin-top: -11px;
}


.email {
}

.email > p{
	font-size: 11px;

}
.email > p > img{
	width: 17px;
	margin-top: -6px;

}

.top_menu {
	padding-top: 9px;
}

.top_menu > ul {
	list-style: none;
	margin:0;
	padding: 0;
}

.top_menu > ul >li {
	display: inline-block;
	margin-left: 20px;

}
.top_menu > ul > li >a {
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 14px;
	font-family: MuseoSans_500;

}

.top_menu > ul >li > a:hover {
	color: #666;

}

.header_wrapper {
	background-color: #f5f6f1;
	padding: 40px 0;
	margin-bottom: 20px;
}

.header {
}

.logo {
	margin-right: 197px;
}

.logo_text >h1{
	font-family: fantasy;
	color: #463f3a;
	font-size: 34px;
	margin:0;
}
.logo_text >p {
	font-size: 9px;
	font-weight:600;
	font-family: MuseoSans_500;
	margin: 0;
}


.logo_icon {
}

.logo_icon img{
		padding-top:7px;
		padding-left: 10px;
}

.navigation {
	padding-top: 20px;
	margin-left: 244px;
}

.navigation > ul{
	list-style: none;
	padding:0;
	margin:0;
}

.navigation > ul>li {
	display: inline-block;
	margin-left: 10px;
}

.navigation >ul > li > a{
	color: #444;
	text-decoration: none;	
	font-family: MuseoSans_500;
}

.navigation > ul > li > a:hover{
	color:#666;
}

.slash {
	color: #e65753;
	font-weight: bold;
}

.cart {
}

.cart.text {
	margin-right: 15px;
}

.cart.text h4 {
	margin:0;
	color: #222;
}

.cart.text p {
	margin:0;
	color: #333;
	font-family: MuseoSans_500;
}

.cart_icon {
	width: 45px;
	padding-top: 1px;
	
}

.slider_wrapper {
	margin-bottom: 20px;
}

.slider {
}

.slider_back {
	position: relative;
}

.slider_back >img{
	width: 100%;
}

.slider_text {
	position: absolute;
	top: 80px;
	left:100px;
}

.slider_text ul{
	list-style: none;
	margin-right: 0;
	padding: 0;
}

.slider_text > ul > li > a{
	color: white;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-size:61px;
	font-weight:bold;
}

.slider_image {
	position: absolute;
    top: 172px;
    right: 0px;
}
.service_wrapper {
}

.service {
	background:#f5f6f1;
	margin-right: 30px;
	padding: 20px;
	width: 326px;
	text-align: center;
}

.service:last-child {
	background:#f5f6f1;
	margin-right:0px;
	padding: 20px;
	width: 326px;
	text-align: center;
}

.service >h1{
	color: #463f3a;
	font-family: "Oswald", sans-serif;
	margin:0;
}

.service >p {
	font-family: MuseoSans_500;
	color: #463f3a;
	margin:0;
}

.service >p >a {
	font-family: MuseoSans_500;
	margin:0;
	text-decoration: none;
	color: #f55856;
}

.portfolio_one_wrapper {
	background: #f8f8f8;
	padding: 40px 0;
	margin: 40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

.portfolio_one {

}

.heading_one {
	position: relative;
	background:black;
	background-image: url("../Image/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 4px;
	width: 100%;
}

.heading_one > h1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #463f3a;
    background: #f8f8f8;
    left: 420px;
    top: -28px;
    padding:5px 15px;
}

.heading_one > img {
	width: 100%;
	height: 1px;
}

.one_wrapper {
	width: 373px;
	margin-right: 20px;
}

.one_wrapper:last-child {
	width: 373px;
	margin-right: 0px;
}

.one_wrapper > img {
	width: 100%;
}

.one {
	background: white;
	padding: 10px 20px;
}

.one > h1 {
	font-family: "Oswald", sans-serif;
	color: #463f3a;
	margin: 0 0 12px 0;
}


.one >p {
	color: #463f3a;
	font-style: italic;
	margin: 0 0 12px 0;
}


.one >p >a {
	font-style: normal;
	color: #f55856;
	font-family: MuseoSans_500;
	text-decoration: none;
}

.one >p >a:hover {
	
}

.portfolio_two_wrapper {
	padding: 40px 0;
	margin: 0 0 40px 0;
}

.portfolio_two {
}

.heading_two {
	position: relative;
	background:black;
	background-image: url("../Image/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 2px;
	width: 100%;
}

.heading_two > h1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #463f3a;
    background: #f8f8f8;
    left: 420px;
    top: -28px;
    padding:5px 15px;
}

.heading_two> img {
	width: 100%;
	height: 1px;
}



.two_wrapper {
	margin-right: 20px;
	width: 275px;
}

.two_wrapper:last-child {
	margin-right: 0px;
	width: 275px;
}

.two_wrapper > img{
	width: 100%;
}

.two {
}


.two > p {
	font-family: MuseoSans_500; 
	margin: 0;
	padding: 10px 0;
}


.two > p > a {
	text-decoration: none;
	color: white;
	background-color: #463f3a;
	display: block;
	padding: 5px 20px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 23px;
	font-weight: bold;
}

.two > h4{
	margin: 0;
}





.portfolio_three_wrapper {
	background: #f8f8f8;
	padding: 40px 0;
	margin: 40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	
}

.portfolio_three {
}

.heading_three {
	position: relative;
	background:black;
	background-image: url("../Image/heading_thick_icon.png");
	height: 3px;
	margin-bottom: 40px;
	line-height: 2px;
	width: 100%;
}

.heading_three > h1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #463f3a;
    background: #f8f8f8;
    left: 420px;
    top: -28px;
    padding:5px 15px;
}

.heading_three> img {
	width: 100%;
	height: 1px;
}



.three_wrapper {
	margin-right: 20px;
	width: 275px;
}

.three_wrapper:last-child {
	margin-right: 0px;
	width: 275px;
}

.three_wrapper > img{
	width: 100%;
}

.three {
}


.three > p {
	font-family: MuseoSans_500; 
	margin: 0;
	padding: 10px 0;
}


.three > p > a {
	text-decoration: none;
	color: white;
	background-color: #463f3a;
	display: block;
	padding: 5px 20px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 23px;
	font-weight: bold;
}

.three > h4{
	margin: 0;
}



.blog_wrapper {
	padding: 40px 0;
	margin: 40px 0;
}

.blog {

}

.heading_four {
	position: relative;
	background:black;
	height: 3px;
	margin-bottom: 45px;
	line-height: 3px;
	width: 100%;
}

.heading_four> h1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #463f3a;
    background-color: white;
    left: 420px;
    top: -21px;
}



.four_wrapper {
	width: 373px;
	margin-right: 20px;
}


.four_wrapper:last-child {
	width: 373px;
	margin-right: 0px;
}

.four_wrapper > img {
	width: 100%;
}


.four {
	
}


.four > h4 {
	font-family: MuseoSans_500;
	color: black;
	margin: 10px 0 12px 0;
}


.four >p {
	color: #463f3a;
	margin: 0 0 12px 0;
}


.four >p >a {
	color: #f55856;
	font-family: MuseoSans_500;
	text-decoration: none;
}

.four >p >a:hover {
	
}

.footer_top_wrapper {
	background: #f2f2f0;
}

.footer_top {
}

.footer_top >h1, .footer_top > p{
	text-align: center;
}

.footer_top >h1 {
	margin: 0;
	font-family: "Oswald", sans-serif;
	color: #463f3a;
	padding-top: 45px;
	font-size: 36px;
}


.footer_top >p {
	margin: 0;
	color: #463f3a;
	font-family: MuseoSans_500;
	padding: 0 0 35px;
}


.footer_top > p > a{
	color: #f8605d;
	text-decoration: none;
}





.footer_middle_wrapper {
	    background: #463f3a;
	    padding: 40px 0;
	    margin-bottom: 0px;
}

.footer_middle {
}

.f_logo {
	margin-right: 197px;
}

.f_logo_text >h1{
	font-family: fantasy;
	font-size: 34px;
	margin:0;
}
.f_logo_text >p {
	font-size: 9px;
	font-weight:600;
	font-family: MuseoSans_500;
	margin: 0;
}


.f_logo_icon {
}

.f_logo_icon img{
		padding-top:7px;
		padding-left: 10px;
}

.f_navigation {
	padding-top: 20px;
	
}

.f_navigation > ul{
	list-style: none;
	padding:0;
	margin:0;
}

.f_navigation > ul>li {
	display: inline-block;
	margin-left: 10px;
}

.f_navigation >ul > li > a{
	color: #fff;
	text-decoration: none;	
	font-family: MuseoSans_500;
}

.f_navigation > ul > li > a:hover{
	color:#eee;
}

.f_navigation > p {
    font-size: 12px;
    text-align: center;
    font-family:MuseoSans_500;
}

.top_icon {
	background: #39393a;
	margin-top: 25px;
	padding: 9px 15px 15px;
}

.top_icon > img{
	padding-top: 5px;
}

.footer_bottom_wrapper {
    padding: 15px 0;
    background: #eee;
}

.footer_bottom {
}

.social {
}

.social > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social > ul > li {
	display: inline-block;
	margin-right: 12px;
}

.social > ul > li > a {
}

.social > ul > li > a:hover {
}

.copyright {
}

.copyright > p {
	margin: 0;
	font-family: MuseoSans_500;
	font-size: 15px;
}


.copyright > p > a{
	color: #f55856;
	text-decoration: none;
	font-family: MuseoSans_500;
}
